body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6; /* Adjust based on your logo's colors */
}

header {
    background-color: #881c1c; /* Primary color from your logo */
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; /* Space between logo and navigation */
    max-width: 1200px; /* Optional: Set a max-width for better alignment */
    margin: 0 auto; /* Center the content horizontally */
}

#logo {
    height: 50px; /* Adjust as needed */
    margin-left: 20px; /* Adjust spacing as needed */
}

nav {
    flex-grow: 1
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.members {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.member {
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    color: #881c1c;
}
